* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "abstracts/variables";
@import "abstracts/mixins";

@media (min-width: 992px) {
    body {
        font-size: 16px;
    }
    .container {
        display: flex;
        justify-content: space-between;
    }
    #servicios table {
        width: 100%;
    }
}

html {
    font-family: $myFont;
    font-size: $myFontSize;
    font-style: normal;
}

body {
    header {
        padding: 0px 0px 5px 0px;
    }
    main {
        font-family: sans-serif;
        font-weight: 300;
        font-style: normal;
        margin: 0 auto;
        background-color: $colorfondo;
        padding: 5%;
        h1 {
            @include formatoTitulos();
        }
        p {
            padding-left: 30px;
        }
    }
}


#navbar {
    background-color: $colorazul;
    text-align: center;
    padding: 2%;
    .navbar:link {
        color: $colorrojo;
        text-decoration: none;
    }
    .navbar:visited {
        color: #acacac;
    }
    .navbar:hover {
        color: white;
        text-decoration: underline;
    }
    .navbar:active {
        color: $colorrojo;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    align-content: center;
    section {
        float: left;
        width: 70%;
        height: 400px;
        background-color: #0c1f547d;
        align-content: center;
        .textobienvenida {
            padding-left: 30px;
        }
    }
    aside {
        float: left;
        width: 30%;
        height: 400px;
        padding-top: 3%;
    }
}

.servicios {
    float: center;
}

.subtitulos.cajas {
    @include formatoSubTitulos()
}