* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "abstracts/variables";
@import "abstracts/mixins";
@import "layout/navigation";

@media (min-width: 992px) {
    body {
        font-size: 16px;
    }
    #servicios table {
        width: 100%;
    }
}

@media (width <= 768px) {
    .service {
        padding: 0 10px;
        display: block;
        text-align: center;
    }

    header {
        width: 100%;
    }
}

@media (width > 768px) {
    .service {
        width: 30%;
        padding: 0 10px;
        display: inline-block;
        text-align: center;
    }

    article.col-6 {
        width: 45%;
        padding: 0 10px;
        display: inline-block;
        text-align: center;
    }
}

.m-5 {
    padding: 50px;
}

section.testimonio-pacientes {
    padding: 50px;
}

div.service-title {
    padding: 50px;
}

html {
    font-family: $myFont;
    font-size: $myFontSize;
    font-style: normal;
}

body {
    header {
        padding: 0px 0px 5px 0px;
    }
    main {
        font-family: sans-serif;
        font-weight: 300;
        font-style: normal;
        margin: 0 auto;
        background-color: $colorfondo;
        padding: 5%;
        h1 {
            @include formatoTitulos();
        }
        p {
            padding-left: 30px;
        }
    }
}




.container {
    width: 100%;
    margin: 0 auto;
    align-content: center;
    section {
        float: left;
        width: 70%;
        height: 400px;
        background-color: #0c1f547d;
        align-content: center;
        .textobienvenida {
            padding-left: 30px;
        }
    }
    aside {
        float: left;
        width: 30%;
        height: 400px;
        padding-top: 3%;
    }
}

.servicios {
    float: center;
}

.subtitulos.cajas {
    @include formatoSubTitulos()
}